html {
  font-size: 10px;
}
h1, h3 {
  font-family: 'Eczar', serif;
  color: #6d6c6c
}
.sliderContainer img {
  max-width: auto;
  height: 9vh;
}
.imageWindow img {
  max-width: auto;
  height: 75vh;
}